html,
body {
  height: 100%;
  margin: 0;
}

.App {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.header {
  height: 80px;
  display: flex;
  flex-direction: row;
  background-color: lightgray;
}

.buttons {
  flex: 1;
  background-color: lightgray;
}

.footer {
  height: 35px;
  background-color: gray;
  display: flex
}

.status-bar {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-content: center;
  align-items: center;
}


.sensor-status {
  margin: 1px;
  display: flex;
  align-items: center;
  padding: 0.3rem;
  margin: 0.1rem;
  border-radius: 0.5rem;
  background-color: #f5f5f5;
}

.sensor-status__indicator {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  margin-right: 0.5rem;
}

.sensor-status__name {
  font-weight: bold;
  margin-right: 0.5rem;
}

.sensor-status__status {
  font-size: 0.8rem;
}

.sensor-status__status--ok {
  color: green;
}

.sensor-status__status--warning {
  color: orange;
}

.sensor-status__status--error {
  color: red;
}

.sensor-status__indicator--ok {
  background-color: green;
}

.sensor-status__indicator--warning {
  background-color: orange;
}

.sensor-status__indicator--error {
  background-color: red;
  animation: blinker 1s linear infinite;
  }
  
@keyframes blinker {
  50% {
    opacity: 0;
  }
}

.mainContent {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  justify-items: center;
}

.ChartsContainer {
  display: flex;
  width: 100%;
  flex: auto;
  flex-direction: column;
  justify-content: center;
}

.chart {
  flex: 1;
  margin: 10px;
  padding: 10px;
}


button {
  font-size: 1rem;
  font-weight: bold;
  padding: 1rem 2rem;
  border: none;
  border-radius: 0.5rem;
  background-color: white;
  color: #333;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  transition: all 0.2s ease-in-out;
  margin: 0.5rem;
}

button:hover {
  background-color: #f2f2f2;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transform: translateY(-2px);
}

button:active {
  background-color: #e6e6e6;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  transform: translateY(0);
}

button:disabled {
  background-color: #ccc;
  color: #999;
  box-shadow: none;
  cursor: not-allowed;
}


.input-box {
  display: flex;
  flex-direction: row;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form input[type="text"],
.form input[type="number"],
.form textarea {
  font-size: 1rem;
  padding: 0.5rem;
  border: none;
  border-radius: 0.5rem;
  background-color: #f2f2f2;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  transition: all 0.2s ease-in-out;
  margin: 0.5rem;
  width: 100%;
}

input[type="number"] {
  font-size: 1rem;
  font-weight: bold;
  padding: 1rem 2rem;
  border: none;
  border-radius: 0.5rem;
  background-color: white;
  color: #333;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  transition: all 0.2s ease-in-out;
  margin: 0.5rem;
}

.form input[type="text"]:focus,
.form input[type="number"]:focus,
.form textarea:focus {
  outline: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transform: translateY(-2px);
}

.form input[type="submit"] {
  font-size: 1rem;
  font-weight: bold;
  padding: 1rem 2rem;
  border: none;
  border-radius: 0.5rem;
  background-color: white;
  color: #333;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  transition: all 0.2s ease-in-out;
  margin: 0.5rem;
}

.form input[type="submit"]:hover {
  background-color: #f2f2f2;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transform: translateY(-2px);
}

.form input[type="submit"]:active {
  background-color: #e6e6e6;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  transform: translateY(0);
}

.form input[type="submit"]:disabled {
  background-color: #ccc;
  color: #999;
  box-shadow: none;
  cursor: not-allowed;
}

button:disabled {
  background-color: #ccc;
  color: #999;
  box-shadow: none;
  cursor: not-allowed;
}